/* OOTD.css */

.ootd-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
  margin-left: 50px;
  margin-right: 50px;
}

.ootd-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.ootd-container p {
  text-align: center;
}

.ootd-container>a {
  flex: 0 0 calc(25% - 1em);
  margin-bottom: 1em;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}