
.tab-list {
    list-style-type: none;
    padding: 0;
    margin-top: 50px;
    margin-left: 40px;
    
  }
  
  .tab-list li {
    display: inline-block;
    
    margin-left: 5px; /* Optional: add some space between the tabs */
  }
  .tab-list button {
    font-size: 20px; /* Adjust as needed */
    font-family: Arial, sans-serif; /* Adjust as needed */
    color: #353232;
    padding: 10px 30px; /* Adjust as needed */
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  .pdf-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1230px; /* 원하는 너비로 변경 */
    height: 2000px; /* 원하는 높이로 변경 */
    margin: 0 auto; /* 수평 중앙 배치 */
    overflow: auto; /* PDF 내용이 컨테이너를 벗어날 경우 스크롤 */
    border: 1px solid #757474;
    margin-bottom: 50px; 
    background-color: rgb(245, 244, 244);
  }