.Mainbar {
    background-color: #ffffff;
    border-radius: 10px;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
  }
  
  .Mainbar-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-left: 100px;
    margin-right: 100px;
    padding: 0;
  }
  
  .Mainbar-item {
    margin-right: 10px;
  }
  
  .Mainbar-link {
    color: #000000;
    text-decoration: none;
  }
  
  .Mainbar-link:hover {
    text-decoration: underline;
  }
  